
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Eagle+Lake&display=swap');

body{
    background-image: url(roses-flowers-white-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
    font-family: "Eagle Lake", serif;
    padding-top: 150px;
}

.content{
    align-content: center;
    color: rgb(255, 0, 72);
    justify-content: center;
    padding-left: 350px;
    padding-bottom: 20px;
}

.link{
    padding-left: 5px;
    padding-bottom: 50px;
}
